body{
    margin: 0px;
}

#header { /* Nav/header */
    display: inline-block;
    margin: 0;
    border: solid;
    border: 1px;
    border-color: #231F20;
    /*position: fixed;*/
    background-color: #231F20;
    width:100%;
}

#menulogo { /* Newton logga */
    float: left;
    margin-right: 5px;
    padding-top: 4px;
}

.bodycontent { /* Hela bodyn där all text ligger i */
    padding-top: 100px;
    /*border-style: solid;*/
}

.section { /* Section/stycke */
    margin-left: 30px;
    /*border-style: solid;*/
}

h1 {
    margin-top: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {

}

menubutton { /* Knappar i nav/header */
    margin-top: 0;
    border: solid;
    border-width: 1px;
    padding: 10px;
    top: 0px;
    margin: 0px;
    display: inline-block;
    background-color: #231F20;
    color: grey;
}

menubutton:hover{  /* När man trycker på knapparna */
    background-color: grey;
}

input[type=text], select { /* Design för alla formulärer som har type=text */
    width: 350px;
    height: 28px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] { /* Design för alla knappar som har type=submit */
    width: 85px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover { /* När man trycker på knapparna */
    background-color: red;
}

textarea {  /* Design för textarea */
    width: 350px;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial;
}

#describeform { /* Textarea form*/
    margin-bottom: 20px;
}

#questionresult { /* Den högra sid section där frågor ska listas */
    float: right;
    border: solid;
    width: 50%;
    height: 432px;
}

#choicequestion { /* Där man gör frågeval, t.ex. Ja/Nej, Alternativ etc.*/
    margin-bottom: 20px;
}

#createquestion { /* Skapa fråga - formulär */
    margin-top: 25px;
    display: inline-block;
}

.choiceresult { /* Klass där man kopplar svarsalternativ med jQuery */
    display: inline-block;
    margin-top: 20px;
    width: 40%;
    height: 200px;
}


#severalanswer { /* Knapp-funktion som ska skapa nya formulärer */
    width: 60px;
    height: 40px;
    margin-left: 10px;
}

#answerchoice { /** Formulär där man skriver in svar **/

}

#savequestion { /** Knapp som ska spara frågor **/

}

#createquiz { /** Knapp som ska skapar quizen och ska koppla ihop mySQL */
    display: inline-block;
    float: right;
}


a#temp{
    color:black;
}