body {
    Font-family: Arial;
}

h1 {
    margin-top: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {

}

.navbar { /* Navigation bar */
    display: inline-block;
    margin: 0;
    border: solid;
    border: 1px;
    border-color: #231F20;
    /*position: fixed;*/
    background-color: #231F20;
    width:100%;
}

#navlogo { /* Newton logga */
    float: left;
    margin-right: 5px;
    padding-top: 4px;
}

.navbutton { /* Knappar i navbar */
    margin-top: 0;
    border: solid;
    border-width: 1px;
    padding: 10px;
    top: 0px;
    margin: 0px;
    display: inline-block;
    background-color: #231F20;
    color: grey;
}

.navbutton:hover {  /* När man trycker på knapparna */
    background-color: grey;
}

.bodycontent { /* Hela bodyn där all text ligger i */
    padding-top: 100px;
}

.section { /* Section/hållare */
    margin-left: 30px;

/** border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;**/
}

input[type=text], select { /* Design för alla formulärer som har type=text */
    width: 350px;
    height: 28px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] { /* Design för alla knappar som har type=submit */
    width: 85px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover { /* När man trycker på knapparna */
    background-color: red;
}

textarea {  /* Design för textarea */
    width: 350px;
    height: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial;
}

#describeform { /* Textarea formulär*/
    margin-bottom: 20px;
}

#questionresult { /* Den högra sid-section där frågor ska listas */
    float: right;
    width: 50%;
    height: auto;

    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
}


#choicequestion { /* Där man gör frågeval, t.ex. Ja/Nej, Alternativ etc.*/
    margin-bottom: 20px;
}

#createquestion { /* Skapa fråga - formulär */
    margin-top: 25px;
    display: inline-block;
}

.choiceresult { /* Klass där man kopplar svarsalternativ med jQuery */
    display: inline-block;
    margin-top: 20px;
    width: 40%;
    height: 200px;
}

#createquiz { /** Knapp som ska skapar quizen och ska koppla ihop mySQL */
    display: inline-block;
    float: right;
    margin-right: 15px;
    magrin-bottom: 15px;
}

#severalanswer { /* Knapp-funktion som ska skapa nya formulärer */
    width: 60px;
    height: 40px;
    margin-left: 10px;
}

#answerchoice { /** Formulär där man skriver in svar **/

}

#savequestion { /** Knapp som ska spara frågor och få dem listade i #questionresult **/
}

a#temp{ /** ? **/
    color:black;
}