body{
    margin: 0px;
}

#header{
    display: inline-block;
    margin: 0;
    border: solid;
    border: 1px;
    border-color: #231F20;
    position: fixed;
    background-color: #231F20;
    width:100%;
}

#menulogo {
    float: left;
    margin-right: 5px;
    padding-top: 4px;
}

.formborder {
    padding-top: 100px;
}

.form {
    margin-left: 30px;
}

h1{
    margin-top: 0;
}

a{
    text-decoration: none;
    color: white;
}

a:hover {

}

menubutton{
    margin-top: 0;
    border: solid;
    border-width: 1px;
    padding: 10px;
    top: 0px;
    margin: 0px;
    display: inline-block;
    background-color: #231F20;
    color: grey;
}

menubutton:hover{
    background-color: grey;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 120px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

.formborder {
    border-style: solid;
}

textarea{
    width:300px;
    padding-bottom: 75px;
    padding-left: 3px;
}

#describeform {
    margin-bottom: 20px;
}

#createquestion {
    margin-top: 25px;
    display: inline-block;
}

#choiceresult {
    margin-top: 20px;
    width: 40%;
    height: auto;
    border: solid;

}

#questionresult {
    float: right;
    border: solid;
    width: 50%;
    height: 432px;
}

#createtest {
    display: inline-block;
    float: right;
}

#choicequestion {
    margin-bottom: 20px;
}