#header{
    margin: 0;
    padding-bottom: 4px;
    border: solid;
    positioning: fixed;
}

h1{
    margin-top: 0;
}
a{
    text-decoration: none;
}

menubutton{
    border:solid;
    padding: 4px;
    margin-bottom: 0px;
    display: inline-block;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 80px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}

.formborder {
    border-style: solid;
}